In [2]:
import pandas as pd

### Read the prediction from the 5 models

In [10]:
path = "code/experiments/14-03-2021_23:37:10/"

df1 = pd.read_csv(path + "epoch79_test_predicted.csv")
df2 = pd.read_csv(path + "epoch71_test_predicted.csv")
df3 = pd.read_csv(path + "epoch47_test_predicted.csv")
df4 = pd.read_csv(path + "epoch43_test_predicted.csv")
df5 = pd.read_csv(path + "epoch42_test_predicted.csv")

df = pd.concat([df1, df2, df3, df4, df5])

In [12]:
df = df.groupby("sample_id").mean()

In [13]:
df.head()

,no_data,clouds,artificial,cultivated,broadleaf,coniferous,herbaceous,natural,snow,water
sample_id,,,,,,,,,,
10087,0.0,0.0,0.007703,0.347784,0.195480,0.002887,0.440451,0.000000,0.0,0.005695
10088,0.0,0.0,0.005319,0.502512,0.172836,0.001187,0.318146,0.000000,0.0,0.000000
10089,0.0,0.0,0.049173,0.333368,0.225674,0.019827,0.364850,0.000000,0.0,0.007108
10090,0.0,0.0,0.014413,0.044366,0.507880,0.144754,0.288422,0.000043,0.0,0.000122
10091,0.0,0.0,0.022940,0.387708,0.192075,0.019550,0.377313,0.000000,0.0,0.000415

In [14]:
df.to_csv(path + 'test_prediction_score.csv')